.skills{
	padding-top: 130px;   
	&__subtitle{
		text-align: center;
	}
	&__wrapper{
		padding: 60px 10px 120px 10px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 1fr;
		gap: 13px 13px;
	}	
	&__skill{
		padding: 30px 30px 25px 30px;
		width: 270px;
		height: 270px;
		border: 1px solid #000000;
		box-sizing: border-box;
		&_title{
			margin-top: 20px;
			font-weight: 700;
			font-size: 14px;
			line-height: 21px;
		}
		&_descr{
			margin-top: 15px;
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
		}
	}
	&__level{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template: minmax(70px auto) ;
		gap: 30px 45px;
		&-item{
			padding-top: 25px;
			display: grid;
			grid-template: minmax(20px, auto) 15px / 200px 35px;
			justify-content: space-between;
			align-content: space-between;
			// gap: 25px 30px;	
		}
		&-title{
			padding-top: 3px ;
			padding-left: 13px;
			position: relative;
			@include before_circile;
			z-index: 3;
		&-counter{
			font-size: 14;
		}
		}
		&-indicator{
			margin: 20px 0;
			width: 350px;
			height: 15px;
			background-color: #E8E4DE;
			grid-column: 1/3;	
			span{
				display: block;
				height: 100%;
				background-color: $main-color;
			}
		}
	}
}